.stat-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    background-color: #20034d;
    color: #e6e6e6;
    font-style: normal;
    font-family: Lucida Console, monospace;
    border-radius: 0px;
}